
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Login</h2>
@using (@Html.BeginForm())
{
    <table>
        <tr>
            <td>
                @Html.Label("User Name")
            </td>
            <td>
                @Html.TextBox("txtUserName")
            </td>
        </tr>
        <tr>
            <td>
                @Html.Label("User Password")
            </td>
            <td>
                @Html.TextBox("txtUserPassword")
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" value="Login" />
            </td>
        </tr>
    </table>
}

